
/*Kartiņas*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(226, 176, 255, 0.788);
  justify-content: center;
  min-height: 100vh; /* add this to cover the whole height */
  width: 100vw; /* add this to cover the whole width */
  align-items:baseline;
  flex-direction: row;
  
  
}

.flex-container > div {
  
  flex-basis: 500px;
  height: 500px;
  width: 500px;
  justify-content: center;
  background-color: #f1f1f1;
  margin: 35px;
  padding: 45px;
  font-size: 15px;
  text-align: center;
  box-shadow: 7px 2px 10px #3f353f;
  
}

.bild{
  height: 300px;
  width: 300px;
}

@media(max-width: 800px) {
  .flex-container{
    flex-direction: column;
    align-items: center;
  }
  .flex-container > div {
    width: 80%;
  }

  header{
    height: auto;
  }

  a{
    margin-right: 0;
    font-size: 25px;
  }

  .bild{
    height:200px;
    width:200px;
  }

}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0px;
}




body {
  margin: 0;
  padding: 20;
  border: 2px;
}

/*Poga ar hover efektu*/
.poga {
  background-color: #e76ee1; /* Green */
  border: 2px solid rgb(80, 0, 76);
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.poga span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.poga span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.poga:hover span {
  padding-right: 25px;
}

.poga:hover span:after {
  opacity: 1;
  right: 0;
}

.flex-container > div {
  /* existing styles */
  transition: transform 0.5s; /* add transition effect */
}

.flex-container > div:hover {
  transform: scale(1.05); /* scale up on hover */
  box-shadow: 10px 5px 15px #3f353f; /* add a deeper shadow on hover */
}

/*Navbar flexbox */
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

header nav li {
  display: inline-block; /* instead of float: left */
  position: relative;
}

header nav a {
  display: inline-block; /* instead of display: block */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

header nav a:hover:not(.active) {
  background-color: #ff7dee;
}

header nav ul ul {
  display: none; /* hide the dropdown by default */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e2a5e7;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}

header nav li:hover > ul {
  display: block; /* show the dropdown on hover */
}

header nav ul ul li {
  display: block; /* make the dropdown items block-level */
}

header nav ul ul li a {
  padding: 10px;
  font-size: 16px;
}

header nav {
  background-color: #e2a5e7;
}




